extends layout

block content
	.row#profile-home
	.row
		.column-4#not
			h4.il.c-p.stage-title Invitations
			.row
				#empty
					if notEmpty
						h3 There are no notifications
					else
						h3 There's something	
		.column-4.reliv#workshop
				.row.cr#afc-container
					.column-12
						button.fn-b.c-p.b-r#afc 
							span Create an artificial friend	
						
		.column-4#tools
			#tools-d
				span.suggs-count #{user.suggs}
				span.name.disb #{user.username}
				a(href="#").tools.disb Settings
				a(href="/logout").tools.disb Log out


	include scripts
	block content
