extends layout

block content
	.row
		.column-4
		.column-4
			h3.il= title
			if lent
				h5.il
					span.smessage#success-message= add
					span.ic.f-l#success
			form(method="post" action="/")
				input(type="text" name="username" placeholder="Username" class="lg")
				input(type="password" name="password" placeholder="Password"  class="lg")
				.column-3
					input(type="submit" placeholder="LOG IN").fn-b.b-r
				.err-tab
					span#err.ease.fn-b.disb.fs-n #{err}
		.column-4
	.row
		.column-4
		.column-4
			span 
				a#l(href="/signup").ease.fn-b.disb.fs-n.pos-a #{ex}
		.column-4
						
	include scripts
	block content