extends layout

block content
	.row
		.column-4
		.column-4
			h3.il #{title}
			h5.il #{add}	
			form(method="post" action="/signup")
				input(type="text" name="firstname" placeholder="Firstname" class="lg")
				input(type="text" name="lastname" placeholder="Lastname" class="lg")
				.column-3
					input(type="submit" value="Next")
				.err-tab
					span#err.ease.fn-b.disb.fs-n #{err}			
		.column-4
	.row
		.column-4
		.column-4
			span 
				a#s(href="/").ease.fn-b.disb.fs-n #{ex}
		.column-4
			
	include scripts
	block content