html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-style: normal;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul, li, h1, h2, h4 {
  list-style: none;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
h4 {
  display: inline-block;
}
.wrapper,
.row {
  *zoom: 1;
}
.row {
  padding: 0 2%;
}
.wrapper:before,
.row:before, .wrapper:after,
.row:after {
  content: " ";
  display: table;
}
.wrapper:after,
.row:after {
  clear: both;
}
.wrapper {
  width:1170px;
  margin: 5px auto;
}
.row > [class*='column-']:first-child {
  margin-left: 0;
}
.row > [class*='column-']:last-child {
  margin-right: 0;
}
.row > [class*='column-'] {
  margin: 0 1%;
}
[class*="column-"] {
  position: relative;
  float: left;
  min-height: 1px;
  background: transparent;
  padding: 10px 0px;
  border-radius: 2px;
}
.column-1 {
  width: 6.5%;
}
.column-2 {
  width: 15%;
}
.column-3 {
  width: 23.5%;
}
.column-4 {
  width: 32%;
}
.column-5 {
  width: 40.5%;
}
.column-6 {
  width: 49%;
}
.column-7 {
  width: 57.5%;
}
.column-8 {
  width: 66%;
}
.column-9 {
  width: 74.5%;
}
.column-10 {
  width: 83%;
}
.column-11 {
  width: 91.5%;
}

.column-12 {
  width: 100%;
}
.resp-img {
  display: block;
  width: 100%;
  height:auto;
}