@font-face {
	font-family: 'Raleway';
	src: url('../css/RisingSun-Light.otf') format('opentype');
}
body {
	background: #0a0a0a;
    font-family: 'Raleway';
    color: white;
}
@keyframes pulse {
	33% {opacity: 0.7;};
	66% {opacity: 1;};
	100% {opacity: 0.7;}
}
input,button{
	background: transparent;
	height: 40px;
	font-family: 'Raleway',sans-serif;
	transition: background,outline 0.3s;
	border: 1px solid white;
	color: white;
	width:100%;
	letter-spacing: 1px;
	color: white;
	border-radius: 4px;
}
input[type="checkbox"].lg {
	width: 16px;
	height: 16px;
}
input[type="text"].lg,input[type="password"].lg {
	margin-bottom: 5px;
	border-radius: 0px !important;
	font-size: 16px;
	outline: none;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: 1px solid white;
	padding: 5px 10px;
}
textarea.lg {
	resize:none;
	max-height: 80px;
	border-radius: 4px;
	font-size: 15px;
	padding: 12px;
	font-family: 'Raleway';
	background: transparent;
	color: white;
	width: 100%;
}
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
select::-ms-expand { /* for IE 11 */
    display: none;
}
a {
	color: white !important;
}
#err {
	color: #D40D12;
}
.il {
	margin-bottom: 5px;
}

.ic {
	height: 20px;
	width: 20px;
}
#success {
	background: url('../img/success.svg') no-repeat;
	background-size: 18px 18px;
	background-position: center center;
	margin: 5px;
}
#success-message {
	margin-top: 7px;
	display: inline-block;
}
#smessage {
	margin-top: 7px;
}
.arrow-down {
	background: url('../img/arrow-down.svg') no-repeat;
	background-size: 16px 16px;
	background-position: center center;
	margin-top: 1px;
}
#tools span, #tools a {
	margin-bottom: 10px;
	font-size: 15px;
}
.suggs-icon {
	top:13px;
	right:0;
	margin:9px;
	background: url('../img/suggs.svg') no-repeat;
	background-size:17px 17px;
}
.tag-icon {
	top:21px;
	right:9px;
	background: url('../img/tag.svg') no-repeat;
	background-size: 17px 17px;
}
.headline-icon {
	top:22px;
	right:9px;
	background: url('../img/title.svg') no-repeat;
	background-size: 17px 17px;
}
.search-icon {
	position: absolute;
	top: 22px;
	right:9px;
	background: url('../img/search.svg') no-repeat;
	background-size: 17px 17px;
}
.search-loading {
	float:left;
	display: none;
	height:17px;
	width:40px;
	margin:4px 120px !important;
	background: url('../img/loading.gif') no-repeat;
	background-size: 60px 60px;
	background-position: center center;
}
.tag-icon,.headline-icon,.suggs-icon,.search-icon{
	opacity: 0.45;
	height: 17px;
	width: 17px;
}
.hbo {
	border-color: #2cc17b;
	margin-top: 10px;
}
#headline {
	padding: 15px;
}
#headline:focus {
	border-color: transparent;
}
.topic {
	padding: 9px 5px;
	border-radius: 10px;
	margin: 3px 0.5% 5px 0.5%;
	border: 2px solid transparent;
	transition: border 0.1s ease-in-out;
}
.topic:hover {
	background: rgba(255,255,255,0.1);
}
.cr {
	padding: 0 !important;
}
#sug-feed {
	margin-top:50px !important;
}
#sug-feed div {
	padding: 0 !important;
}
#sug-feed div.pst{
	margin-top: 15px;
}
.pst,.opst {
	height: 210px;
}
.opst {
	margin-left: 5px;
	border-left: 1px solid #2cc17b;
}
.topic-selected {
	border: 2px solid #2cc17b;
}

#jtopic {
	color: #bbbbbb;
}
#tags {
	padding-left: 10px;
	border: none !important;
}
#headline:focus {
	border: none !important;
}
.mod {
	border: none !important;
	background:rgba(255,2555,255,0.04) !important;
}
#ensuggs {
	margin-bottom: 10px;
}
.trend {
	margin-bottom: 15px;
	padding: 10px 10px 30px 10px !important;
}
.views {
	right:5px;
}
.stitle {
	display: inline-block !important;
}
#postsuccess {
	margin: 10px 0px;
}
.back-first {
	float:right;
	color:#2cc17b;
}
.qst {
	padding-left: 10px;
	margin-bottom: 12px;
	border: 2px solid #2cc17b !important;
} 
.ops {
	margin-bottom: 5px;
}
#f-s-q {
	margin:0 !important;
}
.tag-input {
	width: 200px;
	height: auto;
	margin-top: 10px;
}
#headline-icon {
	top:0px;
}
.pos-a {
	position: absolute;
}
.disb {
	display: block;
}
.f-r {
	float: right;
}
.topic-stage{
	float: right;
}
.f-l {
	float:left;
}
#back-first-c {
	right:0;
}
#tagcr-c {
	display: block;
	width: 100%;
	right:0;
	top:0px;
}
.inl-b {
	display: inline-block;
}
.reliv {
	position: relative;
}
.topic span {
	font-size: 14px;
}
.fs-n {
	font-size: 14px;
}
.b-r {
	border-radius: 4px;
}
.stage-title {
	opacity: 0.8;
	margin: 0 !important;
}
.tagc:hover {
	opacity: 0.8;
}
.c-p {
	cursor: pointer;
}
.smessage {
	color: #2cc17b;
	font-weight: bold;
}
.fn-b {
	font-weight:bold;
}
.tagc {
	padding: 5px;
	margin: 2px;
}
.t-c {
	text-align: center;
}
.ops {
	padding-left: 5px;
}
.topic {
	background: rgba(255,255,255,0.045);
}
/*correcting*/
.cont {
	padding: 25px;
	width: 350px;
}
.tager {
	position: relative;
}
#tags {
	background: rgba(255,255,255,0.045);
}
#tools span,#tools a {
	text-align: center;
}
.suggs-count {
	display: block;
	color: #2cc17b;
}
.tag-input {
	width:100%;
	float:left;
	font-size: 13px;
}
input:focus {
	background: transparent !important;
}
.tagc {
	float: left;
	width:auto;
	background: rgba(255,255,255,0.045);
	padding: 7px 8px;
	font-weight: bold;
	border-radius: 3px;
	font-size: 14px;
	cursor: pointer;
}
.tagc:hover {
	background: rgba(255,255,255,0.030);
}
#cht {
	text-align:center;
	display:block;
	color: #bbbbbb;
}
#net {
	position: relative;
}
input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
    color: transparent;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: transparent;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: transparent;
}
#not {
	height:120px;
	width: 400px;
}
#not h4 {
	text-align: center;
	display: block;
}
#empty h3 {
	width: 100%;
	margin-top: 30px;
	font-size: 15px;
	text-align: center;
}
.cr {
	margin: 0 !important;
}
#workshop {
	width: 310px;
	height: auto;
}
ul {
	margin-top: 15px;
}
ul li {
	display: inline;
	margin-right: 10px;
}
ul li:nth-child(2) {
	color: #2cc17b ;
	cursor: pointer;
}
#afc {
	border-color: #2cc17b;
}
#tools {
	width: 310px;
}
.err-tab {
	text-align: center;
	margin: 15px;
	float: right;
	width: 210px;
}
#profile-home {
	margin: 20px 0;
}
